{% extends "judgementapp/base.html" %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12 well">
        <p>Relevation was created by <a href="http://koopman.id.au">Bevan Koopman</a> and Guido Zuccon, the system is designed
      to enable catpure relevance judgement for Information Retrieval system evaluation.</p>
      </div>

    </div>

    <div class="col-md-4">
      <div class="col-md-12 well">
        <p>Find more on the <a href="http://github.com/ielab/relevation">Github Relevation!</a> page.</p>
      </div>

    </div>

    <div class="col-md-4">
      <div class="col-md-12 well">
        <p>SM2 2014, <a href="http://azarel-howard.me/">Azarel Howard</a> taken on to update, upgrade, and extend the existing system.</p>
      </div>

    </div>
  </div>


{% endblock %}
