<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>relevation - Information Retrieval Relevance Judging System</title>
  <meta name="description" content="">
  <meta name="author" content="Bevan Koopman">
  <meta name="author" content="Azarel Howard">
  {% bootstrap_stylesheet_tag %}
  <style type="text/css">
    div, nav, .well, .navbar-default, .btn, .btn-default {
      border-width: 0px;
      border-radius: 0px;
      box-shadow: none;
    }
    .btn {
      border-width: 1px;
    }
  </style>
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

  <!-- Polymer Material Design Tests -->
  <!-- 1. Load platform.js for polyfill support. -->
  <script src="http://www.polymer-project.org/components/platform/platform.js"></script>

  <!-- 2. Use an HTML Import to bring in the element. -->
  <link rel="import" href="http://www.polymer-project.org/components/core-ajax/core-ajax.html">

  <!-- 3. Import Specific Elements -->
  <link href="http://www.polymer-project.org/components/paper-shadow/paper-shadow.html" rel="import">

  {% block extra_head %}{% endblock %}
</head>

<body>

<div class="container">
  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'judgementapp.views.index' %}">relevation</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'judgementapp.views.index' %}" class="">Home</a></li>
          <li><a href="{% url 'judgementapp.views.index' %}upload">Setup</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Layout <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="nav" href="?layout=vertical">Vertical</a></li>
              <li><a href="?layout=horizontal">Horizontal</a></li>
              <li><a href="?layout=inline">Inline</a></li>
              <li><a href="?layout=search">Search</a></li>
              <li><a href="?layout=horizontal">Using template</a></li>
            </ul>
          </li>
          <li><a href="{% url 'judgementapp.views.index' %}about">About</a></li>
          <li><a href="{% url 'judgementapp.views.query_list' %}">Queries</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <paper-shadow z="2"></paper-shadow>
  </nav>
  </div>


  {% bootstrap_messages %}

  {% block content %}Empty page{% endblock %}

  <p>
  <hr>
  </p>

  <footer class="row">
    <div class="col-md-6">
      <p>relevation - Information Retrieval Relevance Judging System</p>
    </div>
    <div class="col-md-3" style="text-align:right">
      <p>
        Created: <a href="http://koopman.id.au">Bevan Koopman</a>
      </p>
    </div>
    <div class="col-md-3" style="text-align:right">
      <p>
        Upgraded: <a href="http://azarel-howard.me/">Azarel Howard</a>
      </p>
    </div>
    <paper-shadow z="0"></paper-shadow>
  </footer>

</div>
<!-- container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% bootstrap_javascript_tag %}


</body>
</html>
