{% extends "judgementapp/base.html" %}

{% block content %}

  <div class="well" style="box-shadow: rgba(0,0,0,0.5) 2px 2px 10px 1px inset">
    <h2>Queries</h2>

  </div>

  <div class="row">

    <div class="col-md-12">
    <paper-shadow z="1"></paper-shadow>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>QueryId</th>
          <th>Text</th>
          <th>Number of documents</th>
          <th>Number unjudged</th>
        </tr>
        </thead>
        <tbody>

        {% for query in queries %}

          <tr>
            <td>{{ query.qId }} </td>
            <td><a href="{% url 'judgementapp.views.query' qId=query.qId %}">{{ query.text }}</a></td>
            <td>{{ query.num_judgements }}</td>
            <td {% if query.num_unjudged_docs > 0 %} style="color: red" {% endif %}>{{ query.num_unjudged_docs }}</td>
          </tr>
        {% endfor %}


        </tbody>
      </table>

      {% if queries %}
        <a href="{% url 'judgementapp.views.qrels' %}" class="btn"><i class="icon-download"></i> Download Relevance
          Assessments (qrels)</a>
      {% endif %}
    </div>

  </div>


{% endblock %}
