{% extends "judgementapp/base.html" %}

{% block content %}

  <div class="well dark">
    <h2>{{ query.qId }} - {{ query.text }} <a style="text-align: right;",
      href="{% url 'judgementapp.views.query_list' %}" class="btn btn-default">Back to Queries</a></h2>

  </div>

  <div class="row">

    <div class="col-md-9 col-sm-8">
      <table class="table table-striped well">
        <thead>
        <tr>
          <th>Query</th>
          <th>Number</th>
          <th>Document#</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for judgement in judgements %}
          <tr>
            <td>{{ query.qId }}</td>
            <td>{{ forloop.counter }}</td>
            <td><a
                href="{% url 'judgementapp.views.document' qId=query.qId docId=judgement.document.docId %}">{{ judgement.document }}</a>
            </td>
            <td style="color:
                {% if judgement.relevance == -1 %} #000000 {% endif %}
                {% if judgement.relevance == 0 %} #ff0000 {% endif %}
                {% if judgement.relevance == 1 %} #ffA500 {% endif %}
                {% if judgement.relevance == 2 %} #008000 {% endif %}
                ">{{ judgement.label }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-3 col-sm-4">
      <div class="well">
        <form class="form-inline" action="" method="post">
          {% csrf_token %}
          <legend>How hard was this query to judge?</legend>
          <div class="control-group">
            <label class="radio-inline">
              <input type="radio" name="difficulty" id="difficulty2" value="2" {% if query.difficulty == 2 %}
                     checked {% endif %}>
              Very difficult
            </label><br>
            <label class="radio-inline">
              <input type="radio" name="difficulty" id="difficulty1" value="1" {% if query.difficulty == 1 %}
                     checked {% endif %}>
              Moderately difficult
            </label><br>
            <label class="radio-inline">
              <input type="radio" name="difficulty" id="difficulty0" value="0" {% if query.difficulty == 0 %}
                     checked {% endif %}>
              Easy
            </label>
          </div>
          <label>Comments:</label>
          <div class="control-group">
            <div class="controls">
              <textarea rows="3" placehoder="comment" name="comment" style="width: 100%">
                {% if query.comment %}{{ query.comment }}{% else %}{% endif %}</textarea>
            </div>
          </div>


          <div class="form-actions">
            <button type="submit" class="btn btn-primary" size="20" style="width: 70px">Save</button>
            <a href="{% url 'judgementapp.views.query' qId=query.qId %}" class="btn btn-default" style="width: 70px">Cancel</a>
          </div>
        </form>
      </div>
    </div>


  </div>


{% endblock %}
